* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
.header {
    background-color: #1F2937;
    color: #E5E7EB;
    height: 550px;
}
.top {
    display: flex;
    justify-content: space-around;
}

.logo {
    background-color: #3AA6B9;
    font-size: 50px;
    margin-top: 30px;
    margin-left: -150px;
    border-radius: 10px;
    padding: 7px;
}
.logo:hover {
    color: black;
}


.links {
    display: flex;
    gap: 20px;
    margin-top: 40px;
}
li {
    list-style-type: none;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}
a:hover {
    color: black;
}

.top2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.img1 {
    padding-right: 110px;
    padding-top: 30px;
}
.text {
    width: 500px;
    padding-left: 60px;
}
.h-text {
    font-size: 48px;
    font-weight: bolder;
    padding-bottom: 5px;
}
.p-text {
    font-size: 18px;
    padding-bottom: 10px;
}
button {
    color: white;
    background-color: #3AA6B9;
    border: #3AA6B9;
    border-radius: 7px;
    font-size: 20px;
    padding: 10px 30px;
    text-align: center;
}

.middle-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.image-list {
    display: flex;
}